/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 280px;
	}

.accordionButton {	
	width: 280px;
	float: left;
	background: #999;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	padding:10px 10px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

	}
	
.accordionContent {	
	width: 280px;
	float: left;
	padding:10px 10px;
	display: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
